body {background-color: black; color:white}

.container {
    display: grid;
    justify-content: center;
    text-align: center;
}

.top {
    width: 1200px;
    display: grid;
    grid-template-columns: 700px 500px;
    margin-bottom: 80px;
    column-gap: 50px;
}

#list {
    background-color: #4CAF50;
    border-radius: 10px;
}

#list ul {
    overflow-y: scroll;
    height: 100px;
}

#view {
    background-color: #2196F3;
    border-radius: 10px;
}

span {
    display: inline-block;
}

#view ul {
    text-align: start;
    list-style-type: '-';
}

#view #icon-span {
    float: right;
    margin-top: 12px;
    margin-left: -40px;
}

#view i {
    font-size: 30px;
    color: white;
}

#view #icon-span:hover i {
    color: black;
}

#board {
    background-color: #9E9E9E;
    margin: 1cm 5cm 0 5cm;
}

.info-board {
    background-color: #2196F3;
    color: black;
}

.bottom .inline {
    display: flex;
    justify-content: space-between;
}

.bottom .pokemon-active {
    background-color: #2196F3;
    padding: 0 20px 0 20px;
    margin: 0 20px 20px 20px;
    border-radius: 20px;
}